$Jonquil: #e6c229;
$Pumpkin: #f17105;
$Carmine: #d11149;
$Indigo: #6610f2;
$Blue: #1a8fe3;
$Black: #000;
$f1: #f1f1f1;

$twitch-area-bg: rgba(90, 62, 133, 0.3);
$youtube-area-bg: rgba(238, 49, 36, 0.3);