@import url(reset.css);
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap");
html, body {
  font: 1rem 'Poppins', sans-serif;
  overflow-x: hidden;
}

/* Container */
.container {
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /* Background */
  background-color: #f1f1f1;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23c0bfc1' fill-opacity='0.2' fill-rule='evenodd'%3E%3Ccircle cx='3' cy='3' r='3'/%3E%3Ccircle cx='13' cy='13' r='3'/%3E%3C/g%3E%3C/svg%3E");
}

/* Header */
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f1f1f1;
  padding: 2rem 5rem;
  font-size: 2rem;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.header a {
  line-height: 1;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.header a span {
  font-weight: bold;
}

.header a,
.header a:visited,
.header a:visited:active {
  color: #000;
  text-decoration: none;
}

.header a:hover {
  color: #5D3FD3;
}

.fa-github {
  margin-right: 0.8rem;
}

/* Top Navigation */
.top-nav {
  /* overflow: hidden; */
  background-color: #333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  /* Shadow */
  -webkit-box-shadow: 10px 10px 20px 0px rgba(194, 194, 194, 0.75);
  box-shadow: 10px 10px 20px 0px rgba(194, 194, 194, 0.75);
}

.top-nav a {
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 1.5rem .5rem;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
}

.top-nav a:not(:first-child) {
  margin-left: 2rem;
}

.top-nav a:hover {
  background-color: #dedede;
  color: #2E1B79;
}

/* Content */
.content {
  margin: 1.6rem 2rem;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 1.6rem;
}

/* Other Pages */
.content .projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.content .projects .card {
  width: calc(50% - 5rem);
  background: rgba(185, 185, 185, 0.3);
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 1.5rem 1rem;
}

.content .projects .card a, .content .projects .card a:visited, .content .projects .card a:focus {
  color: #000;
}

.content .projects .card a {
  text-decoration: none;
}

.content .projects .card a h1 {
  font-size: 1.3rem;
  font-weight: bold;
}

.content .projects .card p {
  font-size: 1rem;
}

/* Contact */
.content.contact {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content.contact span {
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.icon {
  color: #000000;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.icon:hover {
  color: gray;
}

.icons {
  background-color: #72727250;
  padding: 1rem;
  border-radius: 0.8rem;
}

.icons a {
  text-decoration: none;
}

.icons :not(:first-child) {
  margin-left: 1rem;
}

/* Footer */
.footer {
  margin-top: auto;
  background-color: var(--bg-color);
  text-align: center;
  padding: 1rem;
  /* Shadow */
  -webkit-box-shadow: 0px -5px 30px 0px rgba(97, 97, 97, 0.25);
  box-shadow: 0px -5px 30px 0px rgba(97, 97, 97, 0.25);
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: var(--bg-color);
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Typed.JS */
.text-popup {
  width: 22rem;
  height: 3.2rem;
}

.text-popup .text {
  font-size: 2.2rem;
  font-weight: bold;
}

/* Media Queries */
@media (max-width: 600px) {
  .content {
    margin: 1rem;
  }
  .content .textPopup .text {
    font-size: 1.6rem !important;
  }
  .top-nav a {
    font-size: 0.8rem;
    padding: 1.2rem 0.3rem;
  }
  .top-nav a:not(:first-child) {
    margin-left: 0.4rem;
  }
  .header {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  /* Other Pages */
  .content .projects .card {
    width: 100%;
    padding: 0.6rem;
    margin: 0.75rem 0.5rem;
  }
}

@media (max-width: 370px) {
  .header a {
    font-size: 1.4rem;
  }
}
/*# sourceMappingURL=style.css.map */